@import "../../../../node_modules/spectre.css/src/_variables";

$dark-color: #1d1f21;
$dark-color-darker: #141617;
$gray-color: #3c3f41;
$gray-color-light: #9aa4a7;
$aqua-color: #8abeb7;
$blue-color: #81a2be;
$green-color: #b5bd68;
$orange-color: #de935f;
$purple-color: #b294bb;
$red-color: #cc6666;
$yellow-color: #f0c674;

$padding: $unit-5;